* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.title {
    font-size: 4rem;
    color: #919191;
}

.smaller-title {
    font-size: 2rem;
    color: #919191;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectors {
    margin-top: 50px;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.selector {
    border: #1f1f1f solid 1px;
    width: 28%;
    height: 100%;
    background: #4d4e4f;
    padding: 5px;
    color: #aba9a9;
    overflow: hidden;
    cursor: pointer;
}

.options {
    overflow: scroll !important;
    height: 150px;
    width: 120px;
    display: none;
    position: absolute;
    background: #4d4e4f;
    border: #1f1f1f solid 1px;
    border-top: none;
}

.active {
    display: block !important;
}

.option {
    margin: 2.5px 0;
    padding: 2.5px;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

.option:hover {
    background: gray;
}

.refresh-button {
    width: 20%;
    height: 60px;
    background: #b1f5b1;
    border: #81bd81 solid 2.5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    color: #2c2b2b;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}